// TODO: Make it responsible
//a(id='aboutUs')
section(class=` flex sm:flex-row flex-col  justify-center items-center
				sm:h-screen sm:w-screen
				2xl:px-36 lg:px-20 p-0
				shadow-md shadow-inner
				bg-cloth`)
		div(class=` flex flex-col bg-white 
					p-10
					lg:h-144 h-full
					md:w-full sm:min-h-fit
					lg:rounded-l rounded-none`)
			h2(class=`  order-first mt-10 md:self-start self-center
						sm:text-6xl md:text-5xl text-4xl font-black font-title 
						before:content before:border-red before:border-r-4 before:mr-5 
						after:content-['!'] after:text-red
					`) We keep it Simple
			div(class=` order-2  mr-36 w-full sm:mt-10 mt-0
						flex sm:flex-row flex-col text-justify 
						font-body  sm:text-lg md:text-2xl lg:text-sm xl:text-lg text-md`)
				p(class='sm:w-1/2')="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuri"
				p(class='sm:w-1/2 sm:ml-8 mt-1 sm:mt-0')="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuri"  		
			details(class='mt-5 order-2 font-subtitle text-xl')
				summary 
					mark Why so many cattle? 
				p(class='font-body').
					amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			img(class=` sm:hidden object-cover self-center 
						sm:object-contain
						sm:rounded-r rounded-full mt-6
						sm:shadow-none shadow-img
						sm:h-128 h-36 w-36` src='imgs/cow.jpeg')
		img(class=` sm:block hidden
					rounded-r 
					lg:h-144 h-full 
					lg:w-96 sm:w-80 object-cover` src='imgs/cow.jpeg')