// TODO: Make it responsive  in md breakpoints
// TODO: the wave is no longer fitting
footer(class=`flex sm:flex-row  flex-col items-center justify-center
             bg-grey sm:h-96 sm:w-full`)
    div(class=` sm:order-first order-last grid place-content-center place-items-center grid-cols-2 
                bg-white
                sm:h-full h-screen 
                sm:w-1/4 w-screen`)
        div(class=`bg-black drop-shadow-2xl rounded p-1 mb-3`)
            img(class='sm:h-20 h-28' src='imgs/js-logo.png')
        div(class=`bg-black drop-shadow-2xl rounded p-1 mb-3`)
            img(class='sm:h-20 h-28' src='imgs/expressjs.png')
        div(class=`bg-black drop-shadow-2xl rounded p-1 mb-3`)
            img(class='sm:h-20 h-28' src='imgs/mongodb.jpg')
        div(class=`shadow-2xl rounded p-1 mb-3`)
            img(class='sm:h-20 h-28' src='imgs/socket.io.svg')
        div(class=`bg-black drop-shadow-2xl rounded p-1 mb-3`)
            img(class='sm:h-20 h-28' src='imgs/pugjs.jpg')
        div(class=`bg-black drop-shadow-2xl rounded p-1 mb-3`)
            img(class='sm:h-20 h-28' src='imgs/tailwindcss.jpg')
    div(class=` sm:h-96 h-screen
                sm:w-1/2 w-screen
                text-white  p-14`)
        h3(class=`font-title sm:text-3xl text-4xl mb-10
                    before:content before:border-red before:border-r-4 before:mr-5 
                    after:content-['?'] after:text-red`) Who is Arthur Aguiar and what is Star Upper
        p(class=`font-body text-xl`)='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' 
        p(class=`font-body text-xl`)='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' 
        p(class=`font-body text-xl`)='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' 
    div(class=` sm:order-last order-first 
                flex flex-col justify-between pb-24
                sm:h-96 h-screen
                sm:w-1/4 w-screen
                sm:border-none border-white border-b-2
                `)
        div(class=`relative flex justify-center
                    sm:w-full w-screen`)
            img(class=`  sm:w-full w-screen object-cover absolute rotate-180` src='imgs/wave.svg')
            img(class=`   mt-5 absolute z-1 rounded-full sm:h-44 h-72` src='imgs/dev.jpg')
        div(class=`flex flex-col
                    sm:mb-10 mt-20 sm:w-full w-screen`)
            h4(class=`  self-center mb-3
                        before:content before:border-red before:border-r-4 before:mr-5 
                        after:content-['!'] after:text-red
                        mb-24 text-justify
                        font-title text-white 
                        sm:text-3xl text-5xl`) Help me create new apps
            div(class=` flex flex-row justify-center`)
                img(class='sm:h-11 h-20' src='imgs/twitter.svg')
                img(class='sm:h-11 h-20' src='imgs/github-w.svg')
                img(class='sm:h-11 h-20' src='imgs/instagram.svg')
                img(class='sm:h-11 h-20' src='imgs/linkedin.svg')
