header(class=`flex justify-center items-center
						  bg-sea-sky
						  h-96 w-full`)
    div(class=`py-20 px-10
                backdrop-blur-sm  bg-opacity-5 drop-shadow-md`)
        h1(class=` 
                    font-title text-white md:text-6xl sm:text-5xl text-4xl h-full
                    before:content before:border-white before:border-r-4 before:mr-5 
                `) A good investment gives you time!